@use "basics";
@use "header";
@use "footer";
@use "hero";

// -----------------------------------------------------------
.employee {
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba($color: #999999, $alpha: 0.3);
  }

  &__card {
    margin: 0 auto;
  }

  &__photo {
    border-radius: 15px;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
  }

  &__desc {
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }




  @media screen and (min-width: 900px) {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;

    hr {
      display: none;
    }

    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
      align-self: start;
    }

    .gabca__main {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .gabca__desc {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;  
    }
  }
}

hr {
  color: lightgray;
  margin: 0 20px;
}

.description {
  padding: 10px;
  &__image {
    max-width: 450px;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 3px 3px 8px rgba($color: #999999, $alpha: 0.3);
    }
  }
}

.work {
  margin: 0 auto;
  text-align: left;

  &__link,
  &__item {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 3px;

    :hover {
      font-weight: bold;
      color: basics.$c-primary;
    }
  }

  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba($color: #999999, $alpha: 0.3);
  }

  span {
    font-weight: bold;
  }
  
  @media screen and (max-width: 909px) {
    h2::before,
    h2::after {
      display: none;
    }
  }
}
