html {
    box-sizing: border-box;
  }
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  

$c-primary:#1B405D;
$c-secondary:#1A3C90;

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 0.956rem;
}

.main {
  max-width: 1100px;
  margin: auto;
}

