html {
    box-sizing: border-box;
  }
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  

$c-primary:#1B405D;
$c-secondary:#1A3C90;

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.5;
    color: $c-primary;
}

.main {
  max-width: 1100px;
  margin: auto;
}

.button {
    font-size: 16px;
    color: white;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: $c-primary;
    border: 0;
    border-radius: 4px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

iframe {

  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba($color: #999999, $alpha: 0.3);
}


