@use 'basics';

// -------------------------------
.contact {

    &__map {
        padding: 20px;
    }
    iframe {
        width: 100%;
    }

    &__list {
        list-style: none;
        text-align: left;
    }

    &__list svg{
        margin-right: 15px;
    }

    &__item {
        font-weight: bold;
        color: basics.$c-primary;
        padding-top: 10px;
    }

    &__item--regular{
        font-weight: 300;
        color: basics.$c-primary;
    }

    &__link {
        text-decoration: none;
        color: basics.$c-primary;
    }
    

    @media screen and (min-width: 600px) {
        
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__text {
        align-self: center;
    }


}

}