@use 'basics';
@use 'header';
@use 'footer';

// -----------------------------------------------------------

.hero {
    max-width: 1100px;
    margin: 0 auto;
    background-image: url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;

    h1 {
        color: white;
        padding: 10px;
        font-size: 1.66rem;
        margin: 0;
    }

    h2 {
        color: white;
        font-size: 1rem;
        padding: 10px;
        margin: 0;
        font-weight: 300;
    }
}

.hero-pages {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  
    &__title {
        font-size: 50px;
        color: basics.$c-primary;
        margin: 0 0;
        padding: 30px 0;
        font-weight: 300;
    }
  }