@use 'basics';
@use 'header';
@use 'footer';
@use 'hero';

// --------------------------------------------------------------
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__photo {
        width: auto;

        img {
            width: 70%;
            border-radius: 10px;
            box-shadow: 3px 3px 8px rgba($color: #999999, $alpha: 0.3);
        }
    }

    &__desc {
        align-self: center;;
    }
}