<header class="header-full">
  <div class="header">
  <div class="logo">
        <div class="logo__image">
            <a href="/"
                ><img
                src="/images/LOGO_churacekreality.png"
                alt="Churáček LOGO"
                height="52"
                width="232"
            /></a>
        </div>
    </div>

    <nav class="menu">
      <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
      <label for="menu-checkbox" class="menu__toggler">Menu ☰</label>

      <ul class="menu__list">
        <li class="menu__item menu__item--hide">O nás
          <ul class="menu__sublist">
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="/nas-tym/">Náš tým</a></li>
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="/prace-kancelare/">Práce realitní kanceláře</a></li>
          </ul>
        </li>
        <li class="menu__item"><a class="menu__link" href="/reference/">Reference</a></li>
        <li class="menu__item menu__item--hide">Služby
          <ul class="menu__sublist">
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="#">Prezentace nemovitosti</a></li>
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="#">Odhad nemovitosti online</a></li>
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="#">Výkup a odlužení nemovitostí</a></li>
          </ul>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/nemovitosti/">Nabídka nemovitostí</a>
        </li>
        <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
        <li class="menu__item menu__item--hide">Více
          <ul class="menu__sublist">
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="#">Dollhouse - 3D scan</a></li>
            <li class="menu__sublist-item"><a class="menu__sublist-link" href="#">RD Chrustenice</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
