<header class="header-full">
  <div class="header">
  <div class="logo">
        <div class="logo__image">
            <a href="/"
                ><img
                src="/images/LOGO_churacekreality.png"
                alt="Churáček LOGO"
                height="52"
                width="232"
            /></a>
        </div>
    </div>

    <nav class="menu">
      <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
      <label for="menu-checkbox" class="menu__toggler">Menu ☰</label>

      <ul class="menu__list">
        <li class="menu__item menu__item--hide {{'menu__item--active' if page.fileSlug === 'nas-tym'}}  {{'menu__item--active' if page.fileSlug === 'prace-kancelare'}}"><a class="menu__link menu__link--hide">O nás</a>
          <ul class="menu__sublist">
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'nas-tym'}}"><a class="menu__sublist-link" href="/nas-tym/">Náš tým</a></li>
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'prace-kancelare'}}"><a class="menu__sublist-link" href="/prace-kancelare/">Práce realitní kanceláře</a></li>
          </ul>
        </li>
        
        <li class="menu__item menu__item--hide {{'menu__item--active' if page.fileSlug === 'prezentace-nemovitosti'}}  {{'menu__item--active' if page.fileSlug === 'vykup-nemovistoti'}} {{'menu__item--active' if page.fileSlug === '3dscan'}}"><a class="menu__link menu__link--hide">Služby</a>
          <ul class="menu__sublist">
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'prezentace-nemovitosti'}}"><a class="menu__sublist-link" href="/prezentace-nemovitosti/">Prezentace nemovitosti</a></li>
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'vykup-nemovistoti'}}"><a class="menu__sublist-link" href="/vykup-nemovistoti/">Výkup a odlužení nemovitostí</a></li>
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === '3dscan'}}"><a class="menu__sublist-link" href="/3dscan/">Dollhouse - 3D scan</a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--hide {{'menu__item--active' if page.fileSlug === 'nemovitosti'}}  {{'menu__item--active' if page.fileSlug === 'chrustenice'}}"><a class="menu__link menu__link--hide" >Nemovitosti</a>
          <ul class="menu__sublist">
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'nemovitosti'}}"><a class="menu__sublist-link" href="/nemovitosti/">Nabídka nemovitostí</a></li>
            <li class="menu__sublist-item {{'menu__sublist-item--active' if page.fileSlug === 'chrustenice'}}"><a class="menu__sublist-link" href="/chrustenice/">RD Chrustenice</a></li>
          </ul>
        </li>
        <li class="menu__item {{'menu__item--active' if page.fileSlug === 'reference'}}"><a class="menu__link" href="/reference/">Reference</a></li>
        <li class="menu__item {{'menu__item--active' if page.fileSlug === 'blog'}}"><a class="menu__link" href="/blog/">Blog</a></li>
        <li class="menu__item {{'menu__item--active' if page.fileSlug === 'kontakt'}}"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
