<div class="hero">
    <div class="hero__title">
      <h1 class="hero__h1">Adam Churáček & Gabriela Zimová</h1>
    </div>
    <div class="hero__title2">
      <h2 class="hero__h2">Prodávejte nemovitosti s námi</h2>
    </div>
  </div>