---
layout: layouts/base_info.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- vložíme hero stránky -->
{% include 'partials/hero_pages.njk' %}






<main class="main">
	<div class="content">

	<!--
		zde se vloží obsah stránky (nebo šablony),
		která používá tuto šablonu
	-->
	{{ content | safe }}
</div>
</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}